.advertise__details_item_social_icon{
    font-size: 48px;
    color: var(--warning-color);
}

.advertise__details_item_desc_title{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.advertise__details_item_desc_par{
    font-size: 14px;
    font-weight: 700;
    color: var(--84-color);
}