@import "reset.module.css";
@import 'remixicon/fonts/remixicon.css';


:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --black-color: #000;
  --15-color : #151515;
  --white-color: #fff;
  --warning-color: #ffc107;
  --84-color : #848484 ;
  --aaa-color : #aaa;


  --oW3-color:rgba(255,255,255,.3);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black-color);
  font-family: var(--font-mono);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.css-10hburv-MuiTypography-root {
  font-family: inherit !important;
  font-weight: 600 !important;
  color: var(--white-color);
  transition: all .3s;
}

.css-10hburv-MuiTypography-root:hover{
  color: var(--warning-color);

}

.css-tlelie-MuiListItemText-root {
  margin: 0 !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.css-bshv44-MuiButtonBase-root-MuiListItem-root:hover {
  background: none !important;
}

.css-bgf8lz-MuiList-root {
  padding: 0 !important;
}

.css-bshv44-MuiButtonBase-root-MuiListItem-root {
  padding: 0.5rem !important;
}


/* swier */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper{
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet{
  width: 15px !important;
  height: 15px !important;
} 

.swiper-pagination-bullet-active{
  background: var(--warning-color) !important;
}